<nav class="navbar navbar-fmot navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"  style="border: 0px; color: white">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" style="color: #3D3D3D"></span>
        <span class="icon-bar" style="color: #3D3D3D"></span>
        <span class="icon-bar" style="color: #3D3D3D"></span>
      </button>
      <a class="navbar-brand" href="#" class="hidden-xs hidden-sm">
        <img src="assets/img/logo.png" class="img-responsive" style="width: 175px; height: 75px;">
      </a>
      <a class="navbar-brand" href="#" class="hidden-lg hidden-md">
        <img src="assets/img/logo.png"  class="img-responsive" style="width: 115px; height: 55px;">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/dashboard/control-cliente">Control Clientes</a></li>
        <li><a routerLink="/dashboard/categorias-ES">FMOT Categorias ES</a></li>
        <li><a routerLink="/dashboard/categorias-PT">FMOT Categorias PT</a></li>
        <li><a routerLink="/dashboard/logistica-ES">FMOT Logística ES</a></li>
        <li><a routerLink="/dashboard/logistica-PT">FMOT Logística PT</a></li>
        <li><a routerLink="/dashboard/shopperPsycologhy">Shopper Psycologhy</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hola {{ usuario.userName }}!
            <span class="caret"></span></a>
          <ul class="dropdown-menu" style="position: relative">
            <li><a routerLink="/"><span class="glyphicon glyphicon-log-in" ></span> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
